.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  margin-bottom: 30px; /* Add consistent margin */

  img {
    max-width: 250px;
    align-self: center;
    background-color: var(--background-color);
    border-radius: 20px;
  }

  a {
    width: fit-content;
    text-decoration: none;
    color: #222;
    transition: transform 200ms ease-in-out;
  }

  a:hover {
    transform: scale(1.05);
  }

  .projectContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.sectionTitle {
  text-align: center; /* Center the title */
  font-size: 2em;
  margin-bottom: 20px;
}

.icon {
  margin-bottom: 10px;
  color: var(
    --background-color
  ); /* Set the icon color to the background color */
  border: 1px solid var(--text-color); /* Add a thin border with the text color */
  border-radius: 50%; /* Optional: make the border rounded */
  padding: 5px; /* Optional: add some padding to make the border more visible */
}

.crossIcon {
  margin-bottom: 10px;
  color: var(--text-color);
}
